@{
    ViewData["Title"] = "Home Page";
}

@model PageViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2 style="color:@ViewBag.HeaderColor">Hi there</h2>
<div>
    @Model.Message
</div>

<div style="color:@ViewBag.TextColor">
    Lorem Ipsum...
</div>